@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground bg-white;
  }
  html {
    scroll-behavior: smooth;
  }
}

/* Add this CSS to your styles */
.section-transition {
  position: relative;
  z-index: 1;
}

.section-transition:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust this height for the blending effect */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  z-index: -1;
}